<div class="">
  <!-- logo -->
  <a href="https://sos.org">
    <img
      class="header-image"
      src="https://ik.imagekit.io/kitstarterazay/sos-theme/nu-sos-navigation-logo-large_YRfE9JUb-.png"
      alt="sos-logo"
    />
  </a>
</div>
