<div class="footer-container">
  <div class="footer-icons">
    <div *ngFor="let icon of icons">
      <a
        [ngClass]="'fa fa-' + icon.iconName + ' social-media-icon'"
        [title]="icon.name"
        [href]="icon.href"
      ></a>
    </div>
  </div>
  <a class="privacy-policy" href="https://sos.org/privacy-policy/"
    >Privacy Policy</a
  >
  <p class="copyrights">© 2021 Science of Spirituality. All rights reserved</p>
</div>
