.footer-container {
  background: #043a5b;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-media-icon {
  width: 36px;
  height: 36px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.privacy-policy {
  font-weight: 700;
  font-size: 12px;
  color: #e1b93b;
}

.copyrights {
  color: #fff;
  font-size: 12px;
  word-break: break-word;
  text-align: center;
}
